@import "tailwindcss";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary-50: #eff6ff;
    --color-primary-100: #dbeafe;
    --color-primary-200: #bfdbfe;
    --color-primary-300: #93c5fd;
    --color-primary-400: #60a5fa;
    --color-primary-500: #3b82f6;
    --color-primary-600: #2563eb;
    --color-primary-700: #1d4ed8;
    --color-primary-800: #1e40af;
    --color-primary-900: #1e3a8a;
    /* --color-white: var(--color-blue-100); */
}

body {
    font-family: 'Nunito Sans Variable', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.display-header-font {
    font-family: 'Oxanium Variable', system-ui;
}

#carousel-indicator {
    background: var(--color-gray-500);
    opacity: 0.5;

    &[aria-current="true"] {
        background: var(--color-gray-500);
        opacity: 1;
    }
}

#carousel-indicator:hover {
    background: var(--color-gray-500);
    opacity: 1;
    &[aria-current="true"] {
        background: var(--color-gray-500);
        opacity: 1;
    }
}
